.Quiz {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(120deg, #1b6172 0%, #a5e7a5 100%);
}

.Quiz h1 {
  color: white;
  margin-left: 10px;
}

.QuizWrapper {
  width: 600px;
}
